# Multirec configuration file
# This file contains soundcards configuration data.
# Empty lines are ignored, as well as everything following a "#" character.
# Each line refers to one soundcard, and fields are separated by a TAB
# character.  These is a description of the fields :
#
# dev   : alsa device name. This is for example "hw:0", or any alias you
#         may have specified in you asound.conf
# inv   : set to 1 if the signal from this card is to be inverted,
#         otherwise set to 0.
# buftm : alsa buffer time. Should work fine with the default value you
#		  find in this example.
# pertm : alsa period time. Should work fine with the default value you
#		  find in this example.


# dev	inv	buftm	pertm
hw:0	0	170667	85333	# "Master" device, data from this card is saved as-is, with no stretching.
#hw:1	0	170667	85333	# card 1, channels "c" and "d"
#hw:2	1	170667	85333	# card 2, channels "e" and "f"
#hw:3	0	170667	85333	# card 3, channels "g" and "h"
